{% extends 'base.html.twig' %}

{% block title %}saadbouh API{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 20px auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .mb { margin-bottom: 20px; }
    </style>

    <div class="example-wrapper">
        <h3>API of Cheikh SOW's website 🚀</h3>
        <br>
        <div class="mb">
            <code>It's a REST API that allows you to get all the data of the website.</code>
        </div>
        <div class="mb">
            <code>Doumentation is available at <a href="https://saadbouh.herokuapp.com/api/docs?ui=re_doc">https://saadbouh.herokuapp.com/api/docs?ui=re_doc</a></code>
        </div>
        <img src="{{ asset('asset/logo.svg') }}" width="100px" alt="saadbouh">

    </div>
{% endblock %}
